<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">
	<ui:define name="centro">
		<h:form id="dashboardform">
			<h:panelGrid columns="3" cellpadding="3" cellspacing="3">
			<h:panelGrid width="100px" columns="2" style="height:50px;background-color:#27a2d0;">
				<h2 style="font-family: Arial, Helvetica, sans-serif;color:white;">SOLICITANTES:</h2>
				<h:outputLabel value="#{dashboardMB.totalServidoresSolicitantes}" style="font-family: Arial, Helvetica, sans-serif;color:white;text-align:right;font-size: 400%;margin: 50px;"/>
			</h:panelGrid>
			<h:panelGrid width="100px" columns="2" style="height:50px;background-color:#31bd2e;">
				<h2 style="font-family: Arial, Helvetica, sans-serif;color:white;">INSCRITOS:</h2>
				<h:outputLabel value="#{dashboardMB.totalServidoresHomologados}" style="font-family: Arial, Helvetica, sans-serif;color:white;text-align:right;font-size: 400%;margin: 50px;"/>
			</h:panelGrid>
			<h:panelGrid width="100px" columns="2"  style="height:50px;background-color:#e92a8a;">
				<h2 style="font-family: Arial, Helvetica, sans-serif;color:white;">VAGAS:</h2>
				<h:outputLabel value="#{dashboardMB.totalRestantes}" style="font-family: Arial, Helvetica, sans-serif;color:white;text-align:right;font-size: 400%;margin: 50px;"/>
			</h:panelGrid>
			<h:panelGrid width="100px" columns="2" style="height:50px;background-color:#27a2d0;">
				<h2 style="font-family: Arial, Helvetica, sans-serif;color:white;">SOLICITAÇÕES:</h2>
				<h:outputLabel value="#{dashboardMB.totalSolicitacoes}" style="font-family: Arial, Helvetica, sans-serif;color:white;text-align:right;font-size: 400%;margin: 50px;"/>
			</h:panelGrid>
			<h:panelGrid width="100px" columns="2"  style="height:50px;background-color:#31bd2e;" >
				<h2 style="font-family: Arial, Helvetica, sans-serif;color:white;">HOMOLOGADAS:</h2>
				<h:outputLabel value="#{dashboardMB.totalInscricoesHomologadas}" style="font-family: Arial, Helvetica, sans-serif;color:white;text-align:right;font-size: 400%;margin: 50px;"/>
			</h:panelGrid>
			<h:panelGrid width="100px" columns="2"  style="height:50px;background-color:#e89c53;">
				<h2 style="font-family: Arial, Helvetica, sans-serif;color:white;">PROCESSAR:</h2>
				<h:outputLabel value="#{dashboardMB.totalAProcessar}" style="font-family: Arial, Helvetica, sans-serif;color:white;text-align:right;font-size: 400%;margin: 50px;"/>
			</h:panelGrid>
			</h:panelGrid>
		</h:form>
		<h:form>
		<h:panelGrid columns="4" cellpadding="3" cellspacing="3" >
		    <p:chart id="votes" type="pie" model="#{dashboardMB.pieInscricoesSexo}" style="width:400px;height:300px"/>
   		    <p:chart id="votes2" type="pie" model="#{dashboardMB.pieInscricoesTipo}" style="width:400px;height:300px"/>
   		    <p:chart id="votes3" type="pie" model="#{dashboardMB.pieHospedagem}" style="width:400px;height:300px"/>
   		 </h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>

