<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">
		<h:form id="dadosform">
				<p:messages id="msg" autoUpdate="true" />
				<h:panelGroup rendered="#{!servidorMB.renderDados and !servidorMB.visualizar}">
					<h3>Informe seu SIAPE e CPF para recuperação dos dados, caso seu cadastro não seja encontrado, entre em contato com a comissão organizadora.</h3>
				</h:panelGroup>
				<h:panelGrid columns="2" width="300" cellpadding="3" cellspacing="3" rendered="#{!servidorMB.renderDados}">
				<p:outputLabel>SIAPE:</p:outputLabel>
				<p:inputText maxlength="15" required="true" id="siape"
						requiredMessage="O campo SIAPE é de preenchimento obrigatório!"
						value="#{servidorMB.servidor.siape}" rendered="#{!servidorMB.renderDados}" />
				<p:outputLabel>CPF:</p:outputLabel>
				<h:panelGroup>
				<p:inputMask mask="999.999.999-99" required="true" id="cpf"
						requiredMessage="O campo CPF é de preenchimento obrigatório!"
						value="#{servidorMB.servidor.cpf}" rendered="#{!servidorMB.renderDados}" />		
					</h:panelGroup>
				<p:commandButton style="float:right;"
					 icon="fa fa fa-search"
					action="#{servidorMB.pesquisar}"
					update="dadosform" rendered="#{!servidorMB.renderDados}" />
				</h:panelGrid>	
				
				<h:panelGrid rendered="#{servidorMB.renderDados}">
				<p:wizard backLabel="Anterior" nextLabel="Próximo"
					id="diplomaWizard" widgetVar="diplomaWizard" style="width:550px;">
					<p:tab id="comum2222" title="Dados Pessoais" rendered="#{servidorMB.renderDados}">
						<h:panelGrid columns="2" id="comum" width="427" cellpadding="3" cellspacing="3" >
					<p:outputLabel>SIAPE:</p:outputLabel>
					<p:outputLabel rendered="#{servidorMB.renderDados}" value="#{servidorMB.servidor.siape}" />
					<p:outputLabel>Nome:</p:outputLabel>
					<p:outputLabel value="#{servidorMB.servidor.nome}" rendered="#{servidorMB.servidor.nome != null or servidorMB.visualizar}"/>
					<p:inputText size="50" maxlength="600" required="true"
						requiredMessage="O campo Nome é de preenchimento obrigatório!" rendered="#{servidorMB.servidor.nome == null}"
						value="#{servidorMB.servidor.nome}" />
				<p:outputLabel>CPF:</p:outputLabel>
				<p:outputLabel value="#{servidorMB.servidor.cpf}" rendered="#{servidorMB.servidor.cpf != null or servidorMB.visualizar}"/>
					<p:inputText size="50" maxlength="600" required="true"
						requiredMessage="O campo CPF é de preenchimento obrigatório!"
						value="#{servidorMB.servidor.cpf}" rendered="#{servidorMB.servidor.cpf == null}" />
				<p:outputLabel value="Setor:" />
				<p:selectOneMenu value="#{servidorMB.servidor.setorId}" filter="true" filterMatchMode="contains" effect="fade" required="true"
									requiredMessage="O campo Setor é de preechimento obrigatório."  disabled="#{servidorMB.visualizar}" style="width:125px" converter="genericConverter">
					<f:selectItem itemLabel="Selecione..." itemValue="#{null}" noSelectionOption="true" />
					<f:selectItems value="#{servidorMB.listaSetor}" var="item" itemValue="#{item}" itemLabel="#{item.sigla}" />
				</p:selectOneMenu>
				<p:outputLabel>Data de Nascimento:</p:outputLabel>
				<p:outputLabel value="#{servidorMB.servidor.dataNascimento}" rendered="#{servidorMB.servidor.dataNascimento != null or servidorMB.visualizar}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
				<p:calendar value="#{servidorMB.servidor.dataNascimento}"
									navigator="true" mask="true" pattern="dd/MM/yyyy"
									required="true"
									requiredMessage="O campo Data de Nascimento é de preechimento obrigatório." rendered="#{servidorMB.servidor.cpf == null}" />
				<p:outputLabel value="Sexo:" />
				<p:selectOneMenu value="#{servidorMB.servidor.sexo}" required="true" requiredMessage="O campo Sexo é de preechimento obrigatório." disabled="#{servidorMB.visualizar}">
					<f:selectItem itemLabel="Selecione..." itemValue="#{null}" noSelectionOption="true" />
					<f:selectItem itemLabel="Masculino" itemValue="M" />
					<f:selectItem itemLabel="Feminino" itemValue="F" />
				</p:selectOneMenu>
				<p:outputLabel>E-mail institucional:</p:outputLabel>
				<p:outputLabel value="#{servidorMB.servidor.emailInstitucional}" rendered="#{servidorMB.servidor.emailInstitucional != ' ' and servidorMB.servidor.emailInstitucional != ''}"/>
				<p:inputText maxlength="100" values="#{servidorMB.servidor.emailInstitucional}" disabled="#{servidorMB.visualizar}" rendered="#{servidorMB.servidor.emailInstitucional == null or servidorMB.servidor.emailInstitucional == ' ' or servidorMB.servidor.emailInstitucional == ''}" />
				<p:outputLabel>E-mail pessoal:</p:outputLabel>
				<p:inputText maxlength="100" value="#{servidorMB.servidor.emailPessoal}" disabled="#{servidorMB.visualizar}"/>
				</h:panelGrid>
					</p:tab>
					
				<p:tab title="Saúde" rendered="#{servidorMB.renderDados}">
					<h:panelGrid columns="2" id="comum3" width="427" cellpadding="3" cellspacing="3" rendered="#{servidorMB.renderDados}" >
						<p:outputLabel>Plano de Saúde:</p:outputLabel>
						<p:inputText maxlength="200" required="true" disabled="#{servidorMB.visualizar}"
								requiredMessage="O campo Plano de Saúde é de preenchimento obrigatório!"
								value="#{servidorMB.servidor.planoDeSaude}" />
				<p:outputLabel>Alergias:</p:outputLabel>
				<p:inputTextarea disabled="#{servidorMB.visualizar}" maxlength="2000" value="#{servidorMB.servidor.alergias}" />
				<p:outputLabel>Doenças:</p:outputLabel>
				<p:inputTextarea disabled="#{servidorMB.visualizar}" maxlength="2000" value="#{servidorMB.servidor.doencas}" />
				<p:outputLabel>Nome do contato em caso de emergência:</p:outputLabel>
				<p:inputText disabled="#{servidorMB.visualizar}" maxlength="200" value="#{servidorMB.servidor.nomeContatoEmergencia}" required="true" requiredMessage="O campo Nome de contato em caso de emergência é obrigatório." />
				<p:outputLabel>Telefone de contato em caso de emergência:</p:outputLabel>
				<p:inputText disabled="#{servidorMB.visualizar}" maxlength="45" value="#{servidorMB.servidor.telefoneContatoEmergencia}" required="true" requiredMessage="O campo Telefone de contato em caso de emergência é obrigatório." />
				</h:panelGrid>
				</p:tab>
				
				<p:tab title="Hospedagem" rendered="#{servidorMB.renderDados}">
				<h:panelGrid columns="2" id="comum4" width="427" cellpadding="3" cellspacing="3" rendered="#{servidorMB.renderDados}" >
					<p:outputLabel value="Vai utilizar a hospedagem:" />
					<p:selectOneMenu disabled="#{servidorMB.visualizar}" value="#{servidorMB.servidor.hospedagem}" required="true" requiredMessage="O campo Vai utilizar hospedagem é de preechimento obrigatório.">
						<f:selectItem itemLabel="Selecione..." itemValue="#{null}" noSelectionOption="true" />
						<f:selectItem itemLabel="SIM" itemValue="#{true}" />
						<f:selectItem itemLabel="NÃO" itemValue="#{false}" />
					</p:selectOneMenu>
					<p:outputLabel value="Quantidade de acompanhantes adultos:" />
				<p:spinner disabled="#{servidorMB.visualizar}" value="#{servidorMB.servidor.qtdAcompanhantesAdultos}" />
				<p:outputLabel value="Quantidade de acompanhantes crianças:" />
				<p:spinner disabled="#{servidorMB.visualizar}" value="#{servidorMB.servidor.qtdAcompanhantesCriancas}" />
				</h:panelGrid>
				<h3 style="color:red;">As despesas dos acompanhantes são de responsabiliade do servidor, bem como a responsabilidade pela hospedagem, transporte, segurança e saúde.</h3>
				</p:tab>
				
				<p:tab title="Documentos" rendered="#{servidorMB.renderDados}">
				<h:panelGrid columns="1" id="comum44" width="427" rendered="#{!servidorMB.visualizar}">
					<p:fileUpload mode="advanced" auto="true" update="grid" sizeLimit="1000000" allowTypes="/(\.|\/)(jpe?g|png|pdf|jpg)$/" invalidFileMessage="Erro! Arquivo deve estar no formato jpeg, jpg, png ou pdf." required="true" requiredMessage="Anexe um documento de identificação." process="@this" fileUploadListener="#{servidorMB.uploadFileDocumento}" cancelLabel="Cancelar" label="Documento de identificação (CNH ou RG)" value="#{servidorMB.documento}"/>
					<p:fileUpload mode="advanced" auto="true" update="grid"  sizeLimit="1000000" process="@this" allowTypes="/(\.|\/)(jpe?g|png|jpg)$/" invalidFileMessage="Erro! Arquivo deve estar no formato jpeg, jpg, png." fileUploadListener="#{servidorMB.uploadFileFoto}" cancelLabel="Cancelar" label="Foto (3x4)" value="#{servidorMB.foto}"/>
					<p:fileUpload mode="advanced" auto="true" update="grid"  sizeLimit="1000000" process="@this" allowTypes="/(\.|\/)(jpe?g|png|pdf|jpg)$/" invalidFileMessage="Erro! Arquivo deve estar no formato jpeg, jpg, png ou pdf." fileUploadListener="#{servidorMB.uploadFileAtestado}" cancelLabel="Cancelar" label="Atestado Médico" value="#{servidorMB.atestado}"/>
					<p:fileUpload mode="advanced" auto="true" update="grid"  sizeLimit="1000000" process="@this" allowTypes="/(\.|\/)(jpe?g|png|pdf|jpg)$/" invalidFileMessage="Erro! Arquivo deve estar no formato jpeg, jpg, png ou pdf." fileUploadListener="#{servidorMB.uploadFileTermo}" cancelLabel="Cancelar" label="Termo de Responsabilidade" value="#{servidorMB.termo}"/>
				</h:panelGrid>
					<h:panelGrid columns="1" width="900" rendered="#{servidorMB.renderDados}">
					<p:dataTable var="item" value="#{servidorMB.listaDocumentos}"
					paginator="false"  id="grid" widgetVar="grid"
					emptyMessage="Nenhum registro cadastrado." style="width: 400px;">
						<p:column headerText="Tipo">
							<h:outputText value="#{item.tipoDocId.nome}"/>
						</p:column>
						<p:column headerText="Ação">
							<p:commandButton ajax="false"
								onclick="PrimeFaces.monitorDownload(start, stop);"
									actionListener="#{servidorMB.download(item)}"
								icon="fa fa fa-download">
								<p:fileDownload value="#{servidorMB.dowloadFile}" />
							</p:commandButton>
							<p:commandButton actionListener="#{servidorMB.removerDoc(item)}" rendered="#{!servidorMB.visualizar}"
								icon="fa fa fa-trash" update="grid" process="@this">
							</p:commandButton>
						</p:column>
					</p:dataTable>
					<p:selectBooleanCheckbox rendered="#{!servidorMB.visualizar}" value="#{servidorMB.confirmacaoDados}" style="font-weight: bold;" itemLabel="Confirmo que as informações exibidas e atualizadas pertencem a minha pessoa, bem como os documentos anexados."  required="true" requiredMessage="É necessário confirmar a posse dos dados." >
						<p:ajax update="buttons" process="@this" />
					</p:selectBooleanCheckbox>
				</h:panelGrid>
				<h:panelGrid columns="1" width="500" id="buttons" rendered="#{servidorMB.renderDados and !servidorMB.visualizar}" >
				<h:panelGroup>
					<p:commandButton style="float:right;" process="@form" 
						value="Salvar" icon="fa fa fa-save"
						action="#{servidorMB.cadastrar}"
						update="@all" id="save" rendered="#{servidorMB.confirmacaoDados and servidorMB.renderDados}" />
					<p:commandButton style="float:right;" process="@form"
						value="Cancelar" icon="fa fa fa-ban"
						action="#{servidorMB.limpar}"
						update="@all" />
				</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="1" width="900" >
				<h4 style="color:red;">Atestado Médico ou Termo de Responsabilidade é obrigatório para inscrição, exceto para as modalidades Dominó, Xadrez, Dama e Games.</h4>
				</h:panelGrid>
				</p:tab>	
				</p:wizard>
				</h:panelGrid>
			</h:form>	
</ui:fragment>


