<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets" >

<h:form rendered="#{autenticacaoMb.renderUserLogado}">  
    <p:growl id="messages" />
    <p:menubar>
    	<p:menuitem value="HOME" ajax="false"  icon="fa fa fa-home" action="/pages/welcome.xhtml"  />
       	<p:menuitem value="MEUS DADOS" ajax="false" rendered="#{false}"  icon="fa fa fa-vcard-o" action="/pages/preencherDados.xhtml"  />
       	<p:menuitem value="CALENDÁRIO" ajax="false"  icon="fa fa fa-calendar" action="/pages/calendarioTable.xhtml"  />
        <p:menuitem value="SOLICITAÇÕES" ajax="false" icon="fa fa fa-ticket" action="/pages/inscricao.xhtml" />
    	<p:menuitem value="Quadro de vagas" ajax="false" rendered="#{autenticacaoMb.usuario.perfilId.id != 1}"  icon="fa fa fa-clipboard" action="/pages/quadrodevagas.xhtml"  />
       	<p:submenu label="Administrativo" icon="ui-icon-wrench" rendered="#{autenticacaoMb.renderUserLogadoAdmin}">
    		<p:menuitem value="Dashboard" ajax="false"  icon="fa fa fa-dashboard" action="/pages/dashboard.xhtml"  />
	       	<p:menuitem value="Relatório" ajax="false"  icon="fa fa fa-file-archive-o" action="/pages/inscricaoRelatorio.xhtml"  />
	       	<p:menuitem value="Equipes" ajax="false"  icon="fa fa fa-group" action="/pages/equipe.xhtml"  />
       		<p:menuitem value="Modalidades" ajax="false"  icon="fa fa fa-futbol-o" action="/pages/modalidade.xhtml"  />
	       	<p:menuitem value="Montar Equipes" ajax="false"  icon="fa fa fa-group" action="/pages/montarEquipes.xhtml"  />
	       	<p:menuitem value="Campus" ajax="false"  icon="fa fa fa-building" action="/pages/campus.xhtml"  />
       	</p:submenu>	
        <f:facet name="options">
        	<p:commandButton style="background:#ea9a54;color:white;" value="TERMO DE RESPONSABILIDADE" ajax="false"  onclick="PrimeFaces.monitorDownload(start, stop);"
									actionListener="#{servidorMB.downloadTermo()}"
								icon="fa fa fa-download" >
								<p:fileDownload value="#{servidorMB.dowloadFile}" />
			</p:commandButton>
            <p:commandButton value="SAIR" icon="fa fa fa-power-off"  action="#{autenticacaoMb.doLogout}"  rendered="#{autenticacaoMb.renderUserLogado}" />
        </f:facet>
    </p:menubar>
</h:form>
</ui:composition>