<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">
	<ui:define name="centro">
		<h:form id="modalidadepesqform">
			<p:growl id="msg" redisplay="false" autoUpdate="true" />
			<h:panelGrid columns="2">
				<p:outputLabel value="Total de vagas do campus:" style="font-weight: bold;"/> <p:outputLabel value="#{inscricaoMB.servidor.setorId.campusId.vagas}" />
				<p:outputLabel value="Total de servidores solicitantes" style="font-weight: bold;"/> <p:outputLabel value="#{inscricaoMB.listaServidoresSolicitantes.size()}" />
				<p:outputLabel value="Total de servidores inscritos" style="font-weight: bold;"/> <p:outputLabel value="#{inscricaoMB.listaServidoresInscritos.size()}" />
				<p:outputLabel value="Total de vagas restantes:" style="font-weight: bold;"/> <p:outputLabel value="#{inscricaoMB.servidor.setorId.campusId.vagas - inscricaoMB.listaServidoresInscritos.size()}" />		
				<!-- <p:outputLabel value="Total de solicitações:" style="font-weight: bold;"/>	<p:outputLabel value="#{inscricaoMB.listaPorCampus.size()}" />
				<p:outputLabel value="Total de solicitações homologadas:" style="font-weight: bold;"/> <p:outputLabel value="#{inscricaoMB.listaHomologadasPorCampus.size()}" /> -->
			</h:panelGrid>
			
			<h:panelGrid>
				<p:dataTable var="item" value="#{modalidadeMB.lista}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					paginatorPosition="bottom" rowsPerPageTemplate="5,10,15"
					paginator="true" rows="10" id="grid" widgetVar="grid"
					emptyMessage="Nenhum registro cadastrado." style="width: 1200px;">
					<f:facet name="header">
						Quadro de vagas do campus <p:outputLabel value="#{inscricaoMB.servidor.setorId.campusId.nome}"/>
					</f:facet>
					<p:column headerText="Nome" style="width:230px;"
						filterMatchMode="contains" filterBy="#{item.nome}"
						sortBy="#{item.nome}">
						<h:outputText value="#{item.nome}" />
					</p:column>
					<p:column headerText="Tipo" style="width:90px;" filterMatchMode="contains" filterBy="#{item.tipoId.nome}"
						sortBy="#{item.tipoId.nome}">
						<h:outputText value="#{item.tipoId.nome}" />
					</p:column>
					<p:column headerText="Sexo" style="width:90px;" filterMatchMode="contains" filterBy="#{item.sexoDesc}"
						sortBy="#{item.sexoDesc}">
						<h:outputText value="#{item.sexoDesc}" />
					</p:column>
					<p:column headerText="Titulares" style="width:50px;">
						<h:outputText value="#{item.qtdTitular}" />
					</p:column>
					<p:column headerText="Reservas" style="width:50px;">
						<h:outputText value="#{item.qtdReserva}" />
					</p:column>
					<p:column headerText="Vaga por campus" style="width:110px;" sortBy="#{item.vagaPorCampus}">
						<h:outputText value="#{item.vagaPorCampus}" />
					</p:column>
					<p:column headerText="Solicitações" style="width:90px;" sortBy="#{item.totalInscricoesDoCampus}">
						<h:outputText value="#{item.totalInscricoesDoCampus}" />
					</p:column>
					<p:column headerText="Homologadas" style="width:90px;" sortBy="#{item.totalInscricoesHomologadasDoCampus}">
						<h:outputText value="#{item.totalInscricoesHomologadasDoCampus}" />
					</p:column>
					<p:column headerText="Vagas restantes" style="width:105px;" sortBy="#{item.vagaPorCampus - item.totalInscricoesHomologadasDoCampus}">
						<h:outputText value="#{item.vagaPorCampus - item.totalInscricoesHomologadasDoCampus}" />
					</p:column>
				</p:dataTable>
				</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
