<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">
	<ui:define name="centro">
		<h:form id="quadropesqform">
			<p:growl id="msg" redisplay="false" autoUpdate="true" />
			<h:panelGrid columns="2">
				<p:outputLabel value="Total de vagas do campus:" style="font-weight: bold;"/> <p:outputLabel value="#{inscricaoMB.servidor.setorId.campusId.vagas}" />
				<p:outputLabel value="Total de solicitações:" style="font-weight: bold;"/>	<p:outputLabel value="#{inscricaoMB.listaPorCampus.size()}" />
				<p:outputLabel value="Total de inscrições homologadas:" style="font-weight: bold;"/> <p:outputLabel value="#{inscricaoMB.listaHomologadasPorCampus.size()}" />
				<p:outputLabel value="Total de vagas restantes:" style="font-weight: bold;"/> <p:outputLabel value="#{inscricaoMB.servidor.setorId.campusId.vagas - inscricaoMB.listaHomologadasPorCampus.size()}" />		
			</h:panelGrid>
			
			<h:panelGrid>
				<p:dataTable var="item" value="#{inscricaoMB.listaPorCampus}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					paginatorPosition="bottom" rowsPerPageTemplate="5,10,15"
					paginator="true" rows="10" id="grid" widgetVar="grid"
					emptyMessage="Nenhum registro cadastrado." style="width: 1200px;">
					<p:column headerText="Nome" style="width:230px;"
						filterMatchMode="contains" filterBy="#{item.servidor.nome}"
						sortBy="#{item.servidor.nome}">
						<h:outputText value="#{item.servidor.nome}" />
					</p:column>
					<p:column headerText="Modalidade" style="width:90px;" filterMatchMode="contains" filterBy="#{item.modalidade.nome}"
						sortBy="#{item.modalidade.nome}">
						<h:outputText value="#{item.modalidade.nome}" />
					</p:column>
					<p:column headerText="Sexo" style="width:90px;" filterMatchMode="contains" filterBy="#{item.modalidade.sexoDesc}"
						sortBy="#{item.modalidade.sexoDesc}">
						<h:outputText value="#{item.modalidade.sexoDesc}" />
					</p:column>
					<p:column headerText="Titulares" style="width:50px;">
						<h:outputText value="#{item.modalidade.qtdTitular}" />
					</p:column>
					<p:column headerText="Reservas" style="width:50px;">
						<h:outputText value="#{item.modalidade.qtdReserva}" />
					</p:column>
					<p:column headerText="Vaga por campus" style="width:110px;" sortBy="#{item.modalidade.vagaPorCampus}">
						<h:outputText value="#{item.modalidade.vagaPorCampus}" />
					</p:column>
					<p:column headerText="Solicitações" style="width:90px;" sortBy="#{item.modalidade.totalInscricoesDoCampus}">
						<h:outputText value="#{item.modalidade.totalInscricoesDoCampus}" />
					</p:column>
					<p:column headerText="Homologadas" style="width:90px;" sortBy="#{item.modalidade.totalInscricoesHomologadasDoCampus}">
						<h:outputText value="#{item.modalidade.totalInscricoesHomologadasDoCampus}" />
					</p:column>
					<p:column headerText="Vagas restantes" style="width:105px;">
						<h:outputText value="#{item.modalidade.vagaPorCampus - item.modalidade.totalInscricoesHomologadasDoCampus}" />
					</p:column>
				</p:dataTable>
				</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
