<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
 <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="#{request.contextPath}/resources/imagens/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="#{request.contextPath}/resources/imagens/favicon.ico" type="image/x-icon"/>
		<h:outputStylesheet library="css" name="login.css" rendered="#{!autenticacaoMb.renderUserLogado}"/>
        <title>JOGOS DOS SERVIDORES DO IFBA - 2017</title>
        <style type="text/css">
            body {background-color: #eeeeee; font-size: 12px}
        </style>
        <style type="text/css">
         .ui-widget-content{
				background: white !important;
				color: #3f7506 !important;
			}
		.homologado {
			background-color: #b1f3b1 !important;
           	background-image: none !important;
            color: #000000 !important;
		}
		.aguardando {
			background-color: #e2df79 !important;
           	background-image: none !important;
            color: #000000 !important;
		}
		.negado {
			background-color: #fd7878 !important;
           	background-image: none !important;
            color: #000000 !important;
		}
		.event-1 {
			background: green;
		}
		.event-2 {
			background: blue;
		}
		.event-3 {
			background: red;
		}
		.event-4 {
			background: #fd7878;
		}
		.event-5 {
			background: #b1f3b1;
			color: #000000 !important;
		}
		.event-6 {
			background: gray;
		}
        </style>
        <script  type="text/javascript">
        	PrimeFaces.locales['pt_BR'] = {
	                closeText : 'Fechar',
	                prevText : 'Anterior',
	                nextText : 'Pr\u00F3ximo',
	                currentText : 'Come\u00E7o',
	                monthNames : [ 'Janeiro', 'Fevereiro', 'Mar\u00E7o', 'Abril',
	                        'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro',
	                        'Outubro', 'Novembro', 'Dezembro' ],
	                monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
	                        'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
	                dayNames : [ 'Domingo', 'Segunda', 'Ter\u00E7a', 'Quarta',
	                        'Quinta', 'Sexta', 'S\u00E1bado' ],
	                dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex',
	                        'Sáb' ],
	                dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
	                weekHeader : 'Semana',
	                firstDay : 1,
	                isRTL : false,
	                showMonthAfterYear : false,
	                yearSuffix : '',
	                timeOnlyTitle : 'S\u00F3 Horas',
	                timeText : 'Tempo',
	                hourText : 'Hora',
	                minuteText : 'Minuto',
	                secondText : 'Segundo',
	                currentText : 'Data Atual',
	                ampm : false,
	                month : 'M\u00EAs',
	                week : 'Semana',
	                day : 'Dia',
	                allDayText : 'Todo Dia'
	            };
        </script>
    </h:head>
    <h:body>
    
        <div align="center" >
            <p:layout fullPage="true">  
            	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
				    <h:graphicImage library="imagens" name="indicator.gif" />
				</p:dialog>
				<p:confirmDialog global="true" width="300px">
        			<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        			<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    		</p:confirmDialog>
                <p:layoutUnit position="center" rendered="#{autenticacaoMb.renderUserLogado}">
               			<h:graphicImage url="/resources/imagens/logo-evento.jpg" style="height:90px;width:374px;"  />
                		<ui:include src="menu.xhtml" />
                    	<ui:insert name="centro">
                    </ui:insert>
                </p:layoutUnit>
                
                <p:layoutUnit position="center" rendered="#{!autenticacaoMb.renderUserLogado}">
<!--                			<h:graphicImage url="/resources/imagens/logo-2.jpeg" style="height: 100px;margin-bottom:40px;" />
 -->                    <ui:insert name="login">
                    </ui:insert>
                </p:layoutUnit>
              </p:layout>
        </div>
    </h:body> 
</html>