<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>#{msg.login}</title>

	<h:outputStylesheet library="css" name="login.css" />
</h:head>
<h:body>

	<div id="CentralizaSite">
	<f:view transient="true">
		<div id="Logo"> </div>
		<h:form id="frm">
			<h:panelGrid id="grid">
				<h3><p:outputLabel value="Versão 1.0.14 - Data 16/11/2017" /></h3>
				<p> Versões anteriores: </p>
				<p>Versão 1.0.13 - Data 14/11/2017</p>
				<p>Versão 1.0.12 - Data 26/10/2017</p>
				<p>Versão 1.0.11 - Data 24/10/2017</p>
				<p>Versão 1.0.10 - Data 23/10/2017</p>
				<p>Versão 1.0.9 - Data 23/10/2017</p>
				<p>Versão 1.0.8 - Data 21/10/2017</p>
				<p>Versão 1.0.7 - Data 20/10/2017</p>
				<p>Versão 1.0.6 - Data 19/10/2017</p>
				<p>Versão 1.0.5 - Data 18/10/2017</p>
				<p>Versão 1.0.4 - Data 17/10/2017</p>
				<p>Versão 1.0.3 - Data 16/10/2017</p>
				<p>Versão 1.0.2 - Data 11/10/2017</p>
				<p>Versão 1.0.1 - Data 10/10/2017</p>
				<p>Versão 1.0.0 - Data 09/10/2017</p>
			</h:panelGrid>
		</h:form>

	</f:view>
	</div>
</h:body>
</html>